@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to IntelliTect</h1>
    <br/>
    <p> where fun stuff is just around the corner ... </p>
</div>
